* { padding: 0;margin: 0; }
body { background: #1f685d url(bg.jpg) no-repeat; background-size: 100% 100%; background-attachment: fixed;text-align: center;}
#graph { margin-top: 200px; width: 100%; max-width: 600px;}
